:root {
  --primary: #0F4454;
  --accent: #519FAD;
  --soft: #CAB5A7;
  --bg: #FCF8F5;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: var(--bg);
}

/* NAVBAR */
nav {
  background: var(--primary);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

/* CONTAINER */
.container {
  padding: 20px;
}

/* HERO */
.hero {
  background: linear-gradient(120deg, var(--primary), var(--accent));
  color: white;
  padding: 40px;
  border-radius: 20px;
}

/* SEARCH */
.search {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
  gap: 20px;
  margin-top: 20px;
}

/* CARD */
.card {
  background: white;
  padding: 15px;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

button {
  background: var(--primary);
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  margin-top: 10px;
}

/* ALERT */
.alert {
  background: #ffdede;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
}